.body1{
    /* background-color: darkgrey; */
    background-image: url(./Pictures/UntitledDesign.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border: 1px solid gold;
    border-radius: 5px;
    font-family: 'Island Moments', cursive;
    font-family: 'Metal Mania', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    color: black;

}

.whiteMode{
  display: none;
}

.whiteMode1{
  display: none;
}

.body2{
  background-image: url(./Pictures/computer-game-gamer-games-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 1px solid rgb(250, 250, 248);
  border-radius: 5px;
  font-family: 'Island Moments', cursive;
  font-family: 'Metal Mania', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}



.start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
  }
.gameMode{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  box-shadow:0 0 0 2px rgb(255, 255, 255);
  border: 2px solid gold;
  border-radius: 5px;
  padding: 2px;
}
  /* .mode{
    display: flex;
    flex-direction: row;
  } */
  .modeDisplay{
    display: none;
  }
  .modeChange{
    display: flex;
    padding-top: 5px;
  }
  
  .play, .easy, .medium, .hard, .darkMode, .whiteMode{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 70px;
    height: 25px;
    border: 2px solid gold;
    margin: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
  }
 
  .endBtn{
    padding-top: 50px;
  }
  /* .gameName, .head, .gameMode{
    color: #fff;
  } */
 .gameName{
  padding-top: 50px;
 }

  .play, .gameName{
    margin: 5px;
  }

  .start1{
    display: none;
  }

  .reload:hover,.dataStore:hover,.darkMode1:hover, .whiteMode1:hover,.darkMode:hover, .whiteMode:hover,.easy:hover,.medium:hover,.hard:hover,.play:hover,.box1:hover,.box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover, .box10:hover, .box11:hover, .box12:hover,.box13:hover, .box14:hover, .box15:hover{
    background-color: rgb(202, 211, 135);
    color: rgb(94, 72, 72);
  }
.mainDiv1{
    display: flex;
    flex-wrap: wrap;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    flex-direction: column;
    align-items: center;
    /* padding-top: 100px; */
    text-align: center;
    /* color:floralwhite; */
  
}


.find{
  display: inline;
}

.find1, .find2{
  display: none;
}

.boxes3, .boxes2, .boxes{
    display: block;
    gap: 1px;
}
/* .boxes2, .boxes{
    display: none;
} */
.boxG{
    background-image: url(./gif/espeon.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}
.boxP{
    background-image: url(./gif/charmander_shiny.gif);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}
.box1,.box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15{
  
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}

.win{
    display: none;
    font-style: oblique;
}

.reload,.dataStore, .darkMode1, .whiteMode1{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    /* color: aliceblue; */
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(152, 103, 103);
    cursor: pointer;
}


footer {
    /* color: #fff; */
    padding: 20px;
  }
  
  .container {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 150px;
  }

  .containerChange {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
  }

  p{
    display: flex;
    justify-content: center;
  }
  
  .container, .containerChange, p {
    margin: 0;
  }
  
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    /* color: #fff; */
    text-decoration: none;
  }

  .divBox, .mainDiv{
    display: none;
  }

  .scoring{
    display: flex;
    justify-content: center;
   }
   .scoring1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
   }

.total, .round, .remainingBox{
    padding-left: 20px;
   
}
.abra{
    display: flex;
    justify-content: center;
}

.abra1{
  display: flex;
  justify-content: center;
  padding-left: 50px;
}


/* animation below here */
.result{
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
  animation-name: textResult;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes textResult {
  from {text-transform: capitalize; color: #fff; font-size: 16px;}
  to {text-transform:uppercase; color: gold;}
}

.gameName, .head, .gameMode {
  color:#fff;
  animation-name: nameTitle;
  animation-duration: 4s;
}

@keyframes nameTitle {
  from {color:#fff}
  to {color: black}
}

.easy, .medium, .hard, .play, .dataStore, .reload, .darkMode, .whiteMode, .darkMode1, .whiteMode1 {
  color: black;
  animation-name: gameTitle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes gameTitle {
  from {color:black;}
  to {color: rgb(255, 255, 255);}
}
  
 .disPlayAnimation1{
  background-image: url(./gif/charmander_shiny.gif);
  width: 50px;
  height: 50px;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
  animation-name: firstPic;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  
 }

@keyframes firstPic{
  from {background-image: url(./gif/charmander_shiny.gif);}
  to {background-image: url(./gif/espeon.gif);}
  
}
.scoreDisplay{
  display: none;
}
.leader{
  display: none;
  text-decoration: underline;
  text-underline-position: under;
  color: gold;
}

th{
  padding: 10px;
  font-size: 26px;
  /* color:rgb(49, 12, 12); */
  font-weight: bolder;
  font-style: oblique;
}
/* .nameP{
  color: black;
} */
td {
 
  padding: 10px;
  font-size: 26px;
  font-style: oblique;

}

table {
  border-collapse: collapse;
  /* width: 40%; */
}

th {
  height: 20px;
}