<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Metal+Mania&family=Playfair+Display:ital@1&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <title>Box picker</title>
</head>
<body class="body1">
    <div class="mainDiv">
    <div>
        <h3 class="win">Winner: </h3>
        <h3 class="playerName">Player Name: </h3>
        <h3 class="heading">Where is the <strong>Espeon</strong>!!!</h3>
        <h3 class="find">Find: <img src="./gif/espeon.gif"/> <img src="./gif/espeon.gif"/></h3>
        <h3 class="find1">Find: <img src="./gif/espeon.gif"/><img src="./gif/espeon.gif"/> <img src="./gif/espeon.gif"/></h3>
        <h3 class="find2"> Find: <img src="./gif/espeon.gif"/> <img src="./gif/espeon.gif"/> <img src="./gif/espeon.gif"/><img src="./gif/espeon.gif"/></h3>
        <h5 class="modeDisplay">Game Mode: </h5>
        <img class="abra" src="./gif/espeon.gif"/>
       </div>
        <div class="scoring">
            <h3 class="result"></h3>
            <h3 class="total">Score: </h3>
            <h3 class="round">Level:  </h3>
            <h3 class="remainingBox">Pick left: </h3>
        </div>
    <div class="divBox">
        <div class="boxes">
            <button class="box1"></button>
            <button class="box2"></button>
            <button class="box3"></button>
        </div>
        <div class="boxes">
            <button class="box4"></button>
            <button class="box5"></button>
            <button class="box6"></button>
        </div>
        <div class="boxes">
            <button class="box7"></button>
            <button class="box8"></button>
            <button class="box9"></button>
        </div>
        <div class="boxes2">
            <button class="box10"></button>
            <button class="box11"></button>
            <button class="box12"></button>
        </div>
        <div class="boxes3">
            <button class="box13"></button>
            <button class="box14"></button>
            <button class="box15"></button>
        </div>
    </div>
    <table class="scoreDisplay">
        <tr>
          <h2 class="leader">Leader Board</h2>
        </tr>
        <tr>
          <td class="nameP"></td>
          <td class="scoreP"></td>
        </tr>
   </table>
   
<div class="endBtn">
    <button class="dataStore" >Data Store</button>
    <button class="reload">Reload</button> 
    <button class="darkMode1">Dark</button>
    <button class="whiteMode1">White</button> 
    
</div>
</div>
<div class="start">
    <!-- <h3 class="head">Where is the <strong>Espeon</strong>!!!</h3> -->
   <h3 class="nameInput ">Player Name: <input class="nameIn" type="text" min="3" max="50"/></h3>
    <h3 class="disPlayAnimation1"></h3>
    <h2 class="gameName">Box Picker Game</h2>
    <button class="play">Play</button>
    <div class="mode">
    <h3 class="gameMode">Game Mode</h3>
    <button class="easy">Easy</button>
    <button class="medium"> Medium</button>
    <button class="hard">Hard</button>
    <button class="darkMode">Dark</button>
    <button class="whiteMode">White</button>
</div>
</div>
<footer>
    <div class="container">
        <p>Copyright © 2023 BoxPickerKid.</p>
        <p>All rights reserved@a.saad227</p>
      <ul>
        <li><a href="mailto:a.saad227@yahoo.com">Mail</a></li>
        <li><a href="https://github.com/asaad227">GitHub</a></li>
        <li> <a href="https://www.linkedin.com/in/ahammed-saad-5341b3231/">Linkedin</a></li>
        
      </ul>
    </div>
  </footer>
  


   
    
</body>
<script src="./index.js"></script>
</html>
